
/* Estilos de la pantalla de gestión de stock */
.stock-container {
  padding: 20px;
}

.title {
  color: aquamarine;
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  color: #f9f9f9;
  background-color: white;
  width: 40%;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.product-details {
  flex-grow: 1;
}

.product-actions {
  display: flex;
  align-items: center;
}

.stock-button {
  padding: 15px;
  margin: 10px;
  max-height: 12px;
  width: auto;
  margin-top: auto;
}

.stock-quantity {
  width: 40px;
  text-align: center;
}

.add-product-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.add-product-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-product-button,
.back-button,
.save-changes-button,
.delete-button {
  padding: 12px;
  width: 100px;
  margin-right: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-button:hover,
.back-button:hover,
.save-changes-button:hover,
.delete-button:hover {
  background-color: #a4c9ac;
}

.product-list-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}


