/* Estilos personalizados para la pantalla de login*/
body {
  background-color: #f2e1e1;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 330px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  background: url('src/images/logorotiseria.png');
  background: linear-gradient(180deg, #c92a15, #dd3620);
  box-shadow: 0px 0px 15px rgba(171, 166, 166, 0.233);
}

h1 {
  text-align: center;
  font-size: 24px;
  color: rgba(255, 248, 248, 0.964);
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  color: rgb(11, 10, 10);
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #79f2eafa;
  border: none;
  border-radius: 5px;
  color: rgb(111, 108, 108);
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ef9583;
}

.register-link {
  text-align: center;
  display: block;
  margin-top: 15px;
  color: white;
}

.error {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
