/* Estilos personalizados para la pantalla de login */
body {
  background-color: #f2e1e1;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 330px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(180deg, #db8854, #ec6d29c6);
  box-shadow: 0px 0px 15px rgba(240, 233, 233, 0.908);
}

h1 {
  text-align: center;
  font-size: 24px;
  color: rgba(255, 248, 248, 0.964);
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  color: rgb(234, 227, 227);
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white; /* Fondo blanco para los campos */
  color: black; /* Texto negro en los campos */
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ec6d29; /* Naranja claro */
  border-radius: 5px;
  color: rgb(249, 244, 244);
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #dca499; /* Color al pasar el mouse */
}

/* Ajustes para el botón de registro */
.register-link {
  text-align: center;
  display: block;
  margin-top: 15px;
  color: #ec6d29; /* Cambia el color del texto del enlace */
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambio de cursor */
}

/* Estilos para el mensaje de error */
.error {
  color: black; /* Texto negro para los mensajes de error */
  margin-top: 10px;
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
}
