.fondo-cont {
  background-image: url('../images/loginfondo.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */

}
.cook-profile {
  max-width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    background-color: #fff4f4a2; 
    color: #0e0707; 
  }
  /*titulo*/
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b1919; 
  }
  
  
  p {
    color: #2f2a2a; /* Texto de datos del usuario en blanco */
    padding: 8px;
    border-radius: 3px;
  }
  
  /*campos de modificacion correo y contra*/
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #555; /* Borde gris oscuro */
    border-radius: 3px;
    color: #1b1919; 
    background-color: #e2e2e2;
  }
  /*volver*/
  button {
    width: auto;
    padding: 10px;
    background-color: #0f3762;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  button:hover {
    background-color: #3876a59c;
  }
  /*modificar y act*/
  button[type="button"] {
    background-color: #0f3762; /* Color de botón para acciones individuales */
  }
  
  button[type="button"]:hover {
    background-color: #3876a59c;
  }
 